

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.primary-color{
    color:#4E47FF ;
}
.btn-primary{
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 16px;
}
/*header styles*/
.header{
    background-image: url(/Assets/Hero-bg.png);
    hight: 698px;
    with: 1440px;
    background-rpeat: no-repeat;
    background-position: top center;
    margin-top: 0px;
}
/*nav styles*/
.nav-design{
    margin-left: 150px;
    margin-top: 0;
    margin-right: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.nav-title{
    margin-top: 50px;
}
.nav-button{
    margin-top: 50px;
}
/*banner styles*/
.banner-content{
    text-align: center;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-button{
    margin-bottom: 152px;
}
/*action-section-styles*/
.action-img{
    border-radius: 48px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 160px;
}
.section{
    display: flex;
    justify-content: center;
    gap: 220px;
}
.section-container{
    margin-left: 140px;
    margin-bottom: 180px;
    
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    margin-top: 180px;
    margin-bottom: 23px;
}
.section-subtitle{
    font-size:24px;
    font-weight: 400;
    color:rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
}