

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.primary-color{
    color:#4E47FF ;
}
.btn-primary{
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    font-weight: bold;
    font-size: 16px;
}
/*header styles*/
.header{
    background-image: url(/Assets/Hero-bg.png);
}
.nav-design{
    margin-left: 150px;
    margin-top: 0;
    margin-right: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}